@media screen and (max-width: 1139px) {
    

    .ms_sidebar-text {
        display: none;

    }

    
}

@media screen and (min-width: 1140px) {
    :root {
        --sidebar-width: 6.5rem;
    }
}

@media screen and (max-width: 768px) {
    .ms_hide {
        display: none;
    }



}

@media screen and (min-width: 769px) {
    .ms_mobile-logo {
        display: none;
    }
}
